body {
}


.clsOlvidarContraseña {
    font-weight: 900;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

    .clsOlvidarContraseña:hover {
    
        color:black !important;
    }


i.user {
    background-image: url(../imagenes/Login/user.png);
    width: 10%;
    position: absolute;
    height: 100%;
    background-repeat: no-repeat;
    left: -38px;
    top: 8px;
}

i.pass {
    background-image: url(../imagenes/Login/lock.png);
    width: 10%;
    position: absolute;
    height: 100%;
    background-repeat: no-repeat;
    left: -38px;
    top: 8px;
}